@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffc0e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: left;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

h2 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.OplaceWrapper {
  background:#f10086;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.OplaceForm {
  margin-bottom: 1rem;
}

.oplace-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.oplace-input {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #fff;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.oplace-input::placeholder {
  color: #fff;
}

.description-container {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.description-input {
  padding: 5px 10px;
  color: #fff;
  border: none;
  resize: none;
  background: none;
  outline: none;
  border-radius: 5px;
  margin: 0;
}

.description-input::placeholder {
  color: #fff;
}

.oplace-btn {
  background: #fff;
  color: #f10086;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.Oplace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #f10086;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.Oplace p.oplace-title {
  font-weight: bold;
}

.Oplace div.oplace-description {
  color: #555; 
  font-size: 0.85rem;
}

.fa-icon {
  margin-left: 0.75rem;
}

.incompleted {
  color: #ffc0e2;
  cursor: pointer;
}

.completed {
  color: #f10086;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}